{% extends "todoList/base_templates/layout.html.twig" %}

{% block index %}
<form class="form-inline">
    <a class="btn btn-outline-light" href="{{ path('app_login') }}" role="button">Login</a>
    {#<a class="btn btn-outline-light" href="{{path('register_view')}}" role="button">Registro</a>#}
</form>
{% endblock %}

{% block content %}
{% endblock %}